[submodule "jquery-cookie"]
	path = jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "spin.js"]
	path = spin.js
	url = https://github.com/fgnass/spin.js.git
[submodule "public/javascripts/Chart.js"]
	path = public/javascripts/Chart.js
	url = https://github.com/nnnick/Chart.js.git
