<div id="header">
  
  <ul id="menu">
    <li><a href="/random">Random</a></li>
    <li><a href="/browse">Browse</a></li>
  </ul>
  
  <form id="search" action="/search" method="post" accept-charset="utf-8">

    <p>
      <input type="text" name="query" />
      <input type="submit" value="Search">
    </p>
  
  </form>
  
</div>