<ul id="saved_names"></ul>

<button id="get_random_name">Get Name</button>
<button id="save_name">Save Name</button>

<select id="sex">
  <option value="M">Male</option>
  <option value="F">Female</option>
</select>

<h1 id="name"></h1>
<h2 id="name_sex"></h2>
<ul id="name_data"></ul>