#saved_names {
  float: right;
  border: 1px solid black;
  list-style: none;
  padding: 10px;
  margin: 0;
}

#saved_names li {
  margin: 0;
  padding: 0;
}

#saved_names li:hover {
  text-decoration: line-through;
  cursor: pointer;
}

#name {
  margin: 0;
  position: relative;
}

#name_sex {
  margin: 0;
}

#name_data {
  margin: 0;
  padding: 0;
}