#saved_names {
  float: right;
  border: 1px solid black;
  list-style: none;
  padding: 10px;
  margin: 0;
}

#saved_names li {
  margin: 0;
  padding: 0;
}

#saved_names li:hover {
  text-decoration: line-through;
  cursor: pointer;
}

#header {
  border-bottom: 1px solid black;
}

#menu {
  list-style: none;
  float: right;
  margin: 0;
  line-height: 25px;
  vertical-align: middle;
}

#menu li {
  display: inline;
}

.least_popular {
  font-weight: bold;
  color: red;
}

.most_popular {
  font-weight: bold;
  color: green;
}
